# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.idea/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# MLflow artifacts
*mlruns

# vscode history
*.history